<!DOCTYPE html>
<html>
  <head>
    <title>ImageRepo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-box">
        <h1><%=@graphics[0].title%></h1>
    </div>
    <div class="flex-box">
        <% if @graphics[0].image.attached? %>
            <%= image_tag @graphics[0].image, style: "max-width: 900px;" %>
        <% end %>
    </div>
    <div class="flex-box">
        <h3><%=@graphics[0].description%></h3>
    </div>
  </body>
</html>

<style type="text/css">
  .flex-box {
    display: flex;
    justify-content: center;
  }
</style> 