<!DOCTYPE html>
<html>
  <head>
    <title>ImageRepo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-box">
        <%= form_with url: "/graphics", method: :get do |form| %>
        <%= form.label :query, "Search for Images:" %>
        <%= form.text_field :query %>
        <%= form.submit "Search" %>
        <% end %>
    </div>
    <table style="width:100%;">
        <% @graphics.each do |graphic| %>
            <tr>
                <td>
                    <div class="flex-box">
                        <h2><%= graphic.title %></h2>
                    </div>
                    <div class="flex-box">
                            <% if graphic.image.attached? %>
                                <%= image_tag graphic.image, style: "max-width: 900px;" %>
                            <% end %>
                    </div>
                    <div class="flex-box">
                        <%= graphic.description %>
                    </div>
                </td>
            </tr>
        <% end %>
    </table>
  </body>
</html>

<style type="text/css">
  .flex-box {
    display: flex;
    justify-content: center;
  }
  td {
      border: 1px solid black;
  }
</style> 